.main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  display: flex;
}
.link li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: aqua;
  width: 100px;
  height: 100px;
  margin: 10px;
}
