@import "css/header.css";
@import "css/home.css";
body {
  background-color: rgb(97, 126, 101);
}
body > * {
  background-color: rgb(236, 236, 236);
  margin: 5px 10px;
}
li {
  list-style: none;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
